.hidden {
  display: none;
}

div#body {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

div#weather {
  display: table;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}

button {
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightgrey;
  margin-left: 10px
}
